<!DOCTYPE html>

<html>

<head lang="en-US">

    <%- include("../partials/head",  {"page_name": "Dashboard"}); %>

</head>

<body>

    <header id="header">

	    <%- include("../partials/header"); %>
        
    </header>

    <main id="main" class="container mt-5">

        <% mote_peers.forEach((peer, index) => { %>

            <div class="mt-5">

                <% if (mote_type != "general") { %>

                    <div>
                            
                        <h3>Link <%= index %>: <%= mote_addr %> - <%= peer %></h3>
                        <hr>

                    </div>

                <% } %>

                <div id="<%= peer %>" class="link-dashboard">

                </div>

            </div>

        <% }); %>

    </main>

    <%- include("../partials/scripts"); %>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="module" src="/scripts/dashboards/index.js"></script>

    <script type="module">

        import dashboard from "/scripts/dashboards/index.js";

        dashboard.plot_dashboard(
            "<%= experiment_name %>", 
            "<%= mote_type %>", 
            "<%= mote_addr %>"
        );
        
    </script>

</body>

</html>