<!DOCTYPE html>

<html>

<head lang="en-US">

    <%- include("../partials/head", {"page_name": "Home" }); %>

</head>

<body>

    <header id="header">

        <%- include("../partials/header"); %>

    </header>

    <main id="main" class="container mt-5">

        <div class="row">

            <div class="col-md-6">
                <h1>Experiment Information (<%= experiment_name %>)</h1>
            </div>

            <div class="mt-3 col-md-6 d-flex justify-content-end align-items-center">
                <button class="btn btn-danger col-xs-6">Stop experiment</button>
            </div>

        </div>

        <div class="mt-5">

            <ul class="list-unstyled">
                <li><strong>Experiment name</strong>: <%= experiment_name %>
                </li>
            </ul>

        </div>

        <div class="mt-5">

            <div>

                <h3 class="mb-3">Server Motes</h3>

                <%- include("../partials/experiment_mote_table" , { "experiment_name" : experiment_name, "mote_type"
                    : "server" , "motes" : server_motes }); %>

            </div>

            <div class="mt-5">

                <h3 class="mb-3">Client Motes</h3>

                <%- include("../partials/experiment_mote_table" , { "experiment_name" : experiment_name, "mote_type"
                    : "client" , "motes" : client_motes }); %>

            </div>

        </div>

    </main>

    <%- include("../partials/scripts"); %>

</body>

</html>