<!DOCTYPE html>

<html>

<head lang="en-US">

    <%- include("../partials/head", {"page_name": "Experiment"}); %>

</head>

<body>

    <header id="header">

        <%- include("../partials/header"); %>

    </header>

    <main id="main" class="container mt-5">

        <div class="row">

            <div class="col-md-6">
                <h1>Experiment Information (<%= experiment_name %>)</h1>
            </div>

            <div class="mt-3 col-md-6 d-flex justify-content-end align-items-center">

                <form action="/control" method="post">

                    <input type="hidden" name="action" value="stop">

                    <input type="hidden" name="experiment_name" value="<%= experiment_name %>">

                    <button class="btn btn-danger col-xs-6">Stop experiment</button>

                </form>

            </div>

        </div>

        <div class="mt-5">

            <div>

                <div>

                    <h3>General</h3>

                    <hr>

                    <ul class="list-unstyled">

                        <li>
                            <strong>Name</strong>: <%= experiment_name %>
                        </li>

                        <li>
                            <strong>Status</strong>: <%= experiment_status %>
                        </li>

                        <li>
                            <strong>Start at</strong>: <%= experiment_start %>
                        </li>

                        <li>
                            <strong>Stop at</strong>: <%= experiment_stop %>
                        </li>
                    
                    </ul>

                </div>

                <div class="mt-5">
                    <h3>Network</h3>

                    <hr>

                    <table class="table table-bordered table-hover">

                        <thead>

                            <tr>

                                <th scope="col">Dashboard</th>
                                <th scope="col">Delays</th>
                                <th scope="col">Throughputs</th>
                                <th scope="col">PDR</th>
                                <th scope="col">PER</th>

                            </tr>

                        </thead>

                        <tbody class="table-group-divider">

                            <tr>

                                <th class="fw-normal">
                                    <a href="/experiment/dashboard?experiment=<%= experiment_name %>&mote_type=general&mote_addr="
                                        class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View</a>
                                </th>

                                <th class="fw-normal">
                                    <a href="/experiment/raw?data_type=delays&experiment=<%= experiment_name %>&mote_type=general&mote_addr="
                                        class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View</a>
                                </th>

                                <th class="fw-normal">
                                    <a href="/experiment/raw?data_type=throughputs&experiment=<%= experiment_name %>&mote_type=general&mote_addr="
                                        class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View</a>
                                </th>

                                <th class="fw-normal">
                                    <a href="/experiment/raw?data_type=pdr&experiment=<%= experiment_name %>&mote_type=general&mote_addr="
                                        class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View</a>
                                </th>

                                <th class="fw-normal">
                                    <a href="/experiment/raw?data_type=per&experiment=<%= experiment_name %>&mote_type=general&mote_addr="
                                        class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View</a>
                                </th>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        <div class="mt-5 mb-5">

            <div>

                <h3 class="mb-3">Server Motes</h3>

                <hr>

                <%- include("../partials/experiment_mote_table" , { "experiment_name" : experiment_name, "mote_type"
                    : "server" , "motes" : server_motes }); %>

            </div>

            <div class="mt-5">

                <h3 class="mb-3">Client Motes</h3>

                <hr>

                <%- include("../partials/experiment_mote_table" , { "experiment_name" : experiment_name, "mote_type"
                    : "client" , "motes" : client_motes }); %>

            </div>

        </div>

    </main>

    <%- include("../partials/scripts"); %>

</body>

</html>