<!DOCTYPE html>

<html>

<head lang="en-US">

    <%- include("../partials/head", {"page_name": "Experiments" }) %>

</head>

<body>

    <header id="header">

        <%- include("../partials/header") %>

    </header>

    <main id="main" class="container mt-5">

        <h1>Experiment List</h1>

        <div class="mt-5">

            <table class="table table-bordered table-hover">

                <thead>

                    <tr>

                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Start at</th>
                        <th scope="col">Stop at</th>

                    </tr>

                </thead>

                <tbody class="table-group-divider">

                    <% experiments.forEach((exp, index) => { %>

                        <tr>

                            <th scope="row">
                                <%= index + 1 %>
                            </th>

                            <th class="fw-normal">
                                <a href="/experiment?experiment=<%= exp.name %>"
                                    class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <%= exp.name %>
                                </a>
                            </th>

                            <th class="fw-normal <%= exp.status == "Running" ? "text-success" : "text-danger" %>">
                                <%= exp.status %>
                            </th>

                            <th class="fw-normal">
                                <%= exp.start %>
                            </th>

                            <th class="fw-normal">
                                <%= exp.stop %>
                            </th>

                        </tr>

                    <% }); %>

                </tbody>

            </table>

        </div>

    </main>

    <%- include("../partials/scripts") %>

</body>

</html>