<!DOCTYPE html>

<html>

<head lang="en-US">

    <%- include("../partials/head", {"page_name": "Message"}) %>

</head>
    
<body>

    <header id="header">

	    <%- include("../partials/header") %>

    </header>

    <main id="main">

        <div class="p-5 mt-3">

            <span><%= msg %></span>

            <% if (note) { %>
                <br>
                <span><%= note %></span>
            <% } %>
            
        </div>

    </main>

    <%- include("../partials/scripts") %>

</body>

</html>